.card
  .card-block
    = f.error_notification
    = f.input :name
    = f.input :description, input_html: {id: 'editor', rows: 5}
    %br
    %img{src: f.object.banner.url, width: '250px'}
    = f.input :banner
    = f.input :start_at
    = f.input :expiration
    %hr
    .questions
      = f.simple_fields_for :questions, validate: true do |builder|
        = render 'question_fields', f: builder
    = f.submit class: 'btn btn-primary'
    = link_to_add_association 'Agregar pregunta', f, :questions, class: 'btn btn-primary',
        data: { association_insertion_node: '.questions', association_insertion_method: :append }
