.nested-fields
  = f.input :name
  = f.input :description
  = f.input :question_type, collection: {'Selección' => 0,'Adjuntar archivo' => 1, 'Ingreso de texto' => 2}, include_blank: false
  %table.table
    %tbody.answers
      = f.simple_fields_for :answers do |builder|
        = render 'answer_fields', f: builder
  = f.input_field :_destroy, as: :hidden
  = link_to_remove_association 'Quitar esta pregunta', f, class: 'btn btn-danger'
  = link_to_add_association 'Agregar respuesta', f, :answers, class: 'btn btn-primary', data: {association_insertion_node: '.answers', association_insertion_method: :append }
  %hr
