#wrapper
  .header-logo.text-center
    - if @navigation.exists?
      .menu-container
        %a#menu-toggle{:href => '#'}
          %i.fa.fa-bars
    %img{:src => asset_path('logo.png')}
    - if @navigation.exists?
      .navigation-fixed-container.text-center
        - @navigation.each do |item|
          %a{href: item.url, target: item.target == '#' ? '' : item.target } #{item.name}

  - @pages.each do |item|
    - if item.page_type == 'page'
      .grid{style: 'background-color: ' + item.background_color + ';', id: item.name}
        .container-fluid
          .row.align-items-center
            .col-12.col-md-6
              - if item.animation_left
                .rellax{'data-rellax-speed' => 3, 'data-rellax-percentage' => 0.2}
                  = raw item.content_left
              - else
                = raw item.content_left
            .col-12.col-md-6
              - if item.animation_right
                .rellax{'data-rellax-speed' => 3, 'data-rellax-percentage' => 0.2}
                  = raw item.content_right
              - else
                = raw item.content_right
    - else
      .carousel.slide{:data => {:ride => 'carousel'}, id: item.name}
        .carousel-inner
          - item.sliders.each_with_index do |slider, index|
            - if index == 0
              .carousel-item.text-center.active
                %img{:src => slider.image.url}
            - else
              .carousel-item.text-center
                %img{:src => slider.image.url}
        %a.carousel-control-prev{:href => '#' + item.name, :data => {:slide => 'prev'}}
          %span.carousel-control-prev-icon
        %a.carousel-control-next{:href => '#' + item.name, :data => {:slide => 'next'}}
          %span.carousel-control-next-icon

  .grid.contact-grid#contacto
    %iframe{:src => 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.7048753097397!2d-73.24892246880533!3d-39.81361132629477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x93941668651e1037!2sMunicipalidad+de+Valdivia!5e0!3m2!1ses!2scl!4v1506360014916', :width => '100%', :height => '100%', :frameborder => '0', :style => 'border:0', :allowfullscreen => true}
    .contact-form
      .text-center
        %a#contact-toggle{:href => '#'}
          %i.fa.fa-angle-double-down
      .contact-form-fields
        %h5 Hablemos ...
        = simple_form_for @contact, :html => {:class => 'form-horizontal' }, :validate => true do |f|
          = f.input :nombre, :required => true
          = f.input :email, :required => true
          = f.input :mensaje, :as => :text, :required => true
          = f.button :submit, 'Enviar', :class=> 'btn btn-danger btn-block'
  .grid.footer-white#footer
    .container-fluid
      .row.align-items-center.text-of-footer
        .col-12.col-md-4
          .text-center
            Ilustre Municipalidad de Valdivia.
            Independencia #455.
            %br
            %a{:href => 'http://www.munivaldivia.cl', :target => '_blank'} www.munivaldivia.cl.
        .col-12.col-md-4
          .text-center
            Fomento Productivo, Departamento de desarrollo Económico.
            %br
            +56 63 2 239519
        .col-12.col-md-4
          .text-center
            Punto de Atención al Emprendimiento
            +56 63 2 288772
            %br
            muniemprende@gmail.com
      .row.align-items-center
        .col-12.col-md-12
          .text-center
            %img{:src => asset_path('footer/logo-municipalidad.png')}
        -#.col-12.col-md-6
        -#  .text-center
        -#    %img{:src => asset_path('footer/logo-club.png')}
