.body-title
  %h1
    Formularios existentes
  %small Manejo de datos
.body-toolbar
  Acciones:
  %a.btn.btn-primary{:href => admin_path} Volver
.body-content
  - if flash[:notice]
    .alert.alert-info.alert-dismissible.fade.show
      %button.close{data:{dismiss: 'alert'}}
        %span{aria: {hidden: 'true'}} &times;
      = flash[:notice]
  %table.table
    %thead
      %tr
        %th Formulario
        %th URL
        %th Fecha inicio
        %th Fecha caducidad
        %th Acción
    %tbody
      - if @surveys.blank?
        %tr
          %td.text-center{colspan: 5}
            %small No existen formularios
      - @surveys.each do |item|
        %tr
          %td= item.name
          %td
            %a{href: home_form_path(id: item.id, slug: item.name.parameterize), target: "_blank"}
              #{request.base_url + home_form_path(id: item.id, slug: item.name.parameterize)}
          %td= item.start_at.strftime("%d/%m/%Y %H:%M")
          %td= item.expiration.strftime("%d/%m/%Y %H:%M")
          %td
            = link_to('Ver respuestas', admin_answer_path(item))
            |
            = link_to('Exportar', export_document_admin_answers_path(survey_id: item.id), method: :post)
            |
            = link_to('Eliminar', destroy_survey_admin_answer_path(item), method: :post, data: { confirm: 'Con esta acción eliminará todas las respuestas relacionadas' })