.body-title
  %h1
    Respuestas
  %small Formulario
.body-toolbar
  Acciones:
  %a.btn.btn-primary{:href => admin_answers_path} Volver
.body-content
  - if flash[:notice]
    .alert.alert-info.alert-dismissible.fade.show
      %button.close{data:{dismiss: 'alert'}}
        %span{aria: {hidden: 'true'}} &times;
      = flash[:notice]
  -#%table.table
  -#  %thead
  -#    %tr
  -#      - @all_data.each do |item, key|
  -#        %th #{item}
  -#  %tbody
  -#    - @data.each_with_index do |a, index|
  -#      %tr
  -#        - @all_data.each do |item, key|
  -#          %td #{key[index]}
  - @data.each do |item|
    %table.table
      %thead
        %tr
          - item.surveys.each do |th|
            %th #{th[0]}
          %th Acción
      %tbody
        %tr
          - item.surveys.each do |td|
            %td
              - if is_uri?(td[1])
                = link_to('Abrir imagen en una nueva página', td[1], target: "_blank")
                %br
                %img{src: td[1], "style": "max-width: 250px"}
              - else
                #{td[1]}
          %td
            = link_to('Eliminar', admin_answer_path(item), method: :delete, data: {confirm: '¿Está seguro?'})
    %hr
