.body-title
  %h1
    Respuestas
  %small Formulario
.body-toolbar
  Acciones:
  %a.btn.btn-primary{:href => admin_answers_path} Volver
.body-content
  - if flash[:notice]
    .alert.alert-info.alert-dismissible.fade.show
      %button.close{data:{dismiss: 'alert'}}
        %span{aria: {hidden: 'true'}} &times;
      = flash[:notice]
  - @data.each do |item|
    %table.table.table-bordered{id: "table-answer-#{item.id}"}
      %thead
        %tr
          - item.surveys.each do |th|
            %th #{th[0]}
          %th Fecha
          %th Acción
      %tbody
        %tr{ class: item.approved? ? 'table-success' : nil}
          - item.surveys.each do |td|
            %td
              - if is_uri?(td[1])
                = link_to('Abrir imagen en una nueva página', td[1], target: "_blank")
                %br
                %img{src: td[1], "style": "max-width: 250px"}
              - else
                #{td[1]}
          %td #{item.created_at.strftime("%d/%m/%Y %H:%M")}
          %td
            = link_to('Eliminar', admin_answer_path(item), method: :delete, data: {confirm: '¿Está seguro?'})
            = link_to('Editar', edit_admin_answer_path(item))
            = link_to(item.approved? ? 'Desaprobar' : 'Aprobar', toggle_approved_admin_answer_path(item), class: 'toggle-approved', method: :post, data: {remote: true})
    %hr
