.body-title
  %h1
    Navegación
  %small Menu de navegación principal
.body-toolbar
  Acciones:
  %a.btn.btn-primary{:href => new_admin_survey_path} Nuevo menu
.body-content
  - if flash[:notice]
    .alert.alert-info.alert-dismissible.fade.show
      %button.close{data:{dismiss: 'alert'}}
        %span{aria: {hidden: 'true'}} &times;
      = flash[:notice]
  %table.table
    %thead
      %tr
        %th Nombre
        %th URL
        %th Peso
        %th Acción
    %tbody
      - if @navigations.empty?
        %tr
          %td.text-center{colspan: 4}
            %small Sin contenido ingresado
      - @navigations.each do |item|
        %tr
          %td #{item.name}
          %td #{item.url}
          %td #{item.weight}
          %td
            = link_to('Editar', edit_admin_navigation_path(item))
            = link_to('Eliminar', admin_navigation_path(item), method: :delete, data: {confirm: '¿Está seguro?'})


