!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Fomento Productivo - Valdivia
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #layout-top
      = render 'admin/partial/layout_top'
    #layout-lateral
      = render 'admin/partial/layout_lateral'
    #layout-content
      = yield
    %script{src:"https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"}
    :javascript
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
          console.log( editor );
        } )
        .catch( error => {
          console.error( error );
        } );


